In [10]:
import pandas as pd
import pyodbc
import sqlalchemy

In [4]:
df = pd.read_csv(r"C:\Users\tarun\Downloads\Power Bi Reports\SCM\Jan'24\part shipped.csv")
df.head()

,SL NO,SONO,CASEID,PART NUMBER,UNITPRICE,DISPATCHDKTDATE,DISPATCHDKTNO,DEALERID,PARTNER NAME,CITY,...,ISACTIVE,QUANTITY,COURIER NAME,DESTINATION,RMANO,DCDATE,TYPE,CONSUMPTIONCODE,CONSUMPTIONTYPE,REMARKS
0,160021,BTTV956204,BTTV956204,7KW63-67001,25126.00,04-08-2023,D37760816,STRAC01942,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SAMBALPUR,...,YES,1,DTDC,DELHI,BTTV956204G,25-04-2023,CONPT,NaN,NaN,NaN
1,160025,8863454061,PO-128462314,M31750-001,20915.90,04/20/2023,NaN,STRAC01998,SYSNETGLOBAL TECHNOLOGIES PVT LTD,BANGALORE,...,NO,1,DHL,BANGALORE,1000392604780001B,25-04-2023,PMC,NaN,NaN,NaN
2,160029,BTVB699303,BTVB699303,4QD21-67005,3583.00,02/14/2023,D27674439,STRAC01942,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SAMBALPUR,...,NO,1,DTDC,DELHI,BTVB699303B,25-04-2023,CONPT,NaN,NaN,NaN
3,159328,8863508986,PO-128524924,RM2-6745-000CN,5474.28,04/26/2023,X40467750,STRAC01999,SYSNETGLOBAL TECHNOLOGIES PVT LTD,SECUNDRABAD,...,YES,1,MANUALLY REMOVED,CHENNAI,1000392881240001G,05-05-2023,PMC,NaN,NaN,FTAPAA7A8S
4,159368,8863564417,PO-128592970,L46598-005,2722.44,05-03-2023,ACTIVE RETURN,STRAC01969,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SRINAGAR,...,NO,1,MANUALLY REMOVED,DELHI,1000393162580001B,05-05-2023,PMC,NaN,NaN,FTAPAA80BB//FTAPAA80BG

In [8]:
df.columns = df.columns.str.lower()
df.columns =df.columns.str.replace(" ","_")

In [14]:
df.drop(columns=['remarks'], inplace = True)
df.columns

Index(['sl_no', 'sono', 'caseid', 'part_number', 'unitprice',
       'dispatchdktdate', 'dispatchdktno', 'dealerid', 'partner_name', 'city',
       'delivery_challan_number', 'docket_date', 'docket_number', 'isactive',
       'quantity', 'courier_name', 'destination', 'rmano', 'dcdate', 'type',
       'consumptioncode', 'consumptiontype'],
      dtype='object')

In [18]:
df['dcdate'] = pd.to_datetime(df['dcdate'], format='%d-%m-%Y')

In [12]:
# Create sql engine
username = 'sa'
password = 'sysneteod#1'
server = '10.20.30.55'
database = 'master'
engine =sqlalchemy.create_engine(f'mssql+pyodbc://{username}:{password}@10.20.30.55/master?trusted_connection=yes&driver=ODBC Driver 17 for SQL Server&Encrypt=No')
cnxn= engine.connect()

In [ ]:
df.to_sql(name='docket_strac', con = cnxn, schema='dbo',if_exists= 'replace',index = False)
cnxn.close()

In [19]:
df.head()

,sl_no,sono,caseid,part_number,unitprice,dispatchdktdate,dispatchdktno,dealerid,partner_name,city,...,docket_number,isactive,quantity,courier_name,destination,rmano,dcdate,type,consumptioncode,consumptiontype
0,160021,BTTV956204,BTTV956204,7KW63-67001,25126.00,04-08-2023,D37760816,STRAC01942,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SAMBALPUR,...,D59253865,YES,1,DTDC,DELHI,BTTV956204G,2023-04-25,CONPT,NaN,NaN
1,160025,8863454061,PO-128462314,M31750-001,20915.90,04/20/2023,NaN,STRAC01998,SYSNETGLOBAL TECHNOLOGIES PVT LTD,BANGALORE,...,9112330142,NO,1,DHL,BANGALORE,1000392604780001B,2023-04-25,PMC,NaN,NaN
2,160029,BTVB699303,BTVB699303,4QD21-67005,3583.00,02/14/2023,D27674439,STRAC01942,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SAMBALPUR,...,BTVB699303,NO,1,DTDC,DELHI,BTVB699303B,2023-04-25,CONPT,NaN,NaN
3,159328,8863508986,PO-128524924,RM2-6745-000CN,5474.28,04/26/2023,X40467750,STRAC01999,SYSNETGLOBAL TECHNOLOGIES PVT LTD,SECUNDRABAD,...,REVERT BACK TO STOCK,YES,1,MANUALLY REMOVED,CHENNAI,1000392881240001G,2023-05-05,PMC,NaN,NaN
4,159368,8863564417,PO-128592970,L46598-005,2722.44,05-03-2023,ACTIVE RETURN,STRAC01969,SYSNET GLOBAL TECHNOLOGIES PVT LTD,SRINAGAR,...,CLOSED IN SAP,NO,1,MANUALLY REMOVED,DELHI,1000393162580001B,2023-05-05,PMC,NaN,NaN

sl_no                               int64
sono                               object
caseid                             object
part_number                        object
unitprice                         float64
dispatchdktdate                    object
dispatchdktno                      object
dealerid                           object
partner_name                       object
city                               object
delivery_challan_number             int64
docket_date                        object
docket_number                      object
isactive                           object
quantity                            int64
courier_name                       object
destination                        object
rmano                              object
dcdate                     datetime64[ns]
type                               object
consumptioncode                    object
consumptiontype                    object
dtype: object